<div class="row">
    <div class="col-md-12 text-center">
        <h1>404 - Page non trouvée</h1>
        <p class="lead">La page que vous recherchez n'existe pas.</p>
        <a href="/" class="btn btn-primary">Retour à l'accueil</a>
    </div>
</div>