<div class="row">
    <div class="col-md-12 text-center">
        <h1><%= title %></h1>
        <p class="lead"><%= description %></p>
    </div>
</div>

<div class="row mt-5">
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Bitcoin (BTC)</h5>
                <p class="card-text">Analyse et trading du Bitcoin</p>
                <a href="/btc" class="btn btn-primary">Voir l'analyse</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Ethereum (ETH)</h5>
                <p class="card-text">Analyse et trading de l'Ethereum</p>
                <a href="/eth" class="btn btn-primary">Voir l'analyse</a>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Solana (SOL)</h5>
                <p class="card-text">Analyse et trading de Solana</p>
                <a href="/sol" class="btn btn-primary">Voir l'analyse</a>
            </div>
        </div>
    </div>
</div>